<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf in action</title>
</head>
<body>
<!--<divclass="left-menu">-->
<!--<a class="left-menu-item">首页</a>-->
<!--<a class="left-menu-item" href="">员工管理</a>-->
<!--<a class="left-menu-item" th:href="@{dep/department}">部门管理</a>-->
<!--<a class="left-menu-item">权限设置</a>-->
<!--<a class="left-menu-item">仓库设置</a>-->
<!--<a class="left-menu-item">退出</a>-->
<!--</div>-->
<div th:fragment="left-menu" class="sidebar">
    <nav class="sidebar-nav open">
        <ul class="nav">
            <li class="nav-title">蚂蚁平台</li>

            <li class="nav-item">
                <a th:href="@{/01home}" class="nav-link active">
                    <i class="icon icon-speedometer"></i> 首页
                </a>
            </li>

            <li class="nav-item nav-dropdown">
                <a href="#" class="nav-link nav-dropdown-toggle">
                    <i class="icon icon-target"></i> 部门模块 <i class="fa fa-caret-left"></i>
                </a>

                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a th:href="@{/dep/departement}" class="nav-link">
                            <i class="icon icon-target"></i> 部门管理
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="layouts-fixed-sidebar.html" class="nav-link">
                            <i class="icon icon-target"></i> Fixed Sidebar
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="layouts-fixed-header.html" class="nav-link">
                            <i class="icon icon-target"></i> Fixed Header
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="layouts-hidden-sidebar.html" class="nav-link">
                            <i class="icon icon-target"></i> Hidden Sidebar
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown">
                <a href="http://demo.cssmoban.com/cssthemes5/twts_173_carbon/dist/index.html#"
                   class="nav-link nav-dropdown-toggle">
                    <i class="icon icon-energy"></i>员工模块 <i class="fa fa-caret-left"></i>
                </a>

                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a href="http://demo.cssmoban.com/cssthemes5/twts_173_carbon/dist/alerts.html" class="nav-link">
                            <i class="icon icon-energy"></i> Alerts
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="http://demo.cssmoban.com/cssthemes5/twts_173_carbon/dist/buttons.html"
                           class="nav-link">
                            <i class="icon icon-energy"></i> Buttons
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="http://demo.cssmoban.com/cssthemes5/twts_173_carbon/dist/cards.html" class="nav-link">
                            <i class="icon icon-energy"></i> Cards
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="http://demo.cssmoban.com/cssthemes5/twts_173_carbon/dist/modals.html" class="nav-link">
                            <i class="icon icon-energy"></i> Modals
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="http://demo.cssmoban.com/cssthemes5/twts_173_carbon/dist/tabs.html" class="nav-link">
                            <i class="icon icon-energy"></i> Tabs
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="http://demo.cssmoban.com/cssthemes5/twts_173_carbon/dist/progress-bars.html"
                           class="nav-link">
                            <i class="icon icon-energy"></i> Progress Bars
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="http://demo.cssmoban.com/cssthemes5/twts_173_carbon/dist/widgets.html"
                           class="nav-link">
                            <i class="icon icon-energy"></i> Widgets
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown">
                <a href="http://demo.cssmoban.com/cssthemes5/twts_173_carbon/dist/index.html#"
                   class="nav-link nav-dropdown-toggle">
                    <i class="icon icon-graph"></i> 报表模块 <i class="fa fa-caret-left"></i>
                </a>

                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a href="http://demo.cssmoban.com/cssthemes5/twts_173_carbon/dist/chartjs.html"
                           class="nav-link">
                            <i class="icon icon-graph"></i> Chart.js
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="http://demo.cssmoban.com/cssthemes5/twts_173_carbon/dist/forms.html" class="nav-link">
                    <i class="icon icon-puzzle"></i> Forms
                </a>
            </li>

            <li class="nav-item">
                <a href="http://demo.cssmoban.com/cssthemes5/twts_173_carbon/dist/tables.html" class="nav-link">
                    <i class="icon icon-grid"></i> Tables
                </a>
            </li>

            <li class="nav-title">More</li>

            <li class="nav-item nav-dropdown">
                <a href="http://demo.cssmoban.com/cssthemes5/twts_173_carbon/dist/index.html#"
                   class="nav-link nav-dropdown-toggle">
                    <i class="icon icon-umbrella"></i> Pages <i class="fa fa-caret-left"></i>
                </a>

                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a href="http://demo.cssmoban.com/cssthemes5/twts_173_carbon/dist/blank.html" class="nav-link">
                            <i class="icon icon-umbrella"></i> Blank Page
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="http://demo.cssmoban.com/cssthemes5/twts_173_carbon/dist/login.html" class="nav-link">
                            <i class="icon icon-umbrella"></i> Login
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="http://demo.cssmoban.com/cssthemes5/twts_173_carbon/dist/register.html"
                           class="nav-link">
                            <i class="icon icon-umbrella"></i> Register
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="http://demo.cssmoban.com/cssthemes5/twts_173_carbon/dist/invoice.html"
                           class="nav-link">
                            <i class="icon icon-umbrella"></i> Invoice
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="http://demo.cssmoban.com/cssthemes5/twts_173_carbon/dist/404.html" class="nav-link">
                            <i class="icon icon-umbrella"></i> 404
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="http://demo.cssmoban.com/cssthemes5/twts_173_carbon/dist/500.html" class="nav-link">
                            <i class="icon icon-umbrella"></i> 500
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="http://demo.cssmoban.com/cssthemes5/twts_173_carbon/dist/settings.html"
                           class="nav-link">
                            <i class="icon icon-umbrella"></i> Settings
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>
