<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header/head-common::commonHead('首页')"></head>
<span th:include="fragments/header/head-js :: common-js"></span>
<body>
<div class="title top_nav" th:include="fragments/header/head-main::header">
</div>
<div th:replace="fragments/left/left-menu::left-menu"></div>
<div class="content">
    <div class="piece">

    </div>
    <!--<div class="piece" th:each="${findshop()}">-->
    <!--</div>-->
    <div class="piece">

    </div>
</div>
</body>
<script type="text/javascript">

</script>
</html>

