<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<span th:fragment="common-js">
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/popper.js/popper.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/vendor/chart.js/chart.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/api.js}"></script>
    <script th:src="@{/js/carbon.js}"></script>
    <script th:src="@{/js/demo.js}"></script>
</span>
</html>