<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gang.study.module.gangstudymodule.dao.MyOrderMapper">

    <!-- 简单过滤查询 -->
    <select id="findAll" resultType="com.gang.study.module.gangstudymodule.entity.MyOrder">
        select * from my_order
    </select>

</mapper>