@charset "utf-8";
/*** CSS Document ***/
*{
    margin:0px;
    padding:0px;
    list-style:none;
    font-family:"微软雅黑","";
    box-sizing:border-box;
}
html{
    height:100%;
    font-size:16px;
    max-height:99999px;
}
img{
    vertical-align: middle;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
    -webkit-appearance: none;
}
body{
    width:100%;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    font-size:4vw;
}
a{
    text-decoration:none;
}
h2{
    width: 100%;
    text-align: center;
}

input{
    font-size: 6vw;
    color: #fff;
    width: 50vw;
}


input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #fff;
    opacity: 0.8;
}
input{background: none;border: 0px;outline: none;    opacity: 0.8;}


.clear{
    clear:both;
}

.index.method_c{
    width: 40vw;
    margin: 10vh 30vw 0vh 30vw;
}
.index.method_c a{
    width: 100%;
    display: inline-block;
    background: #fff;
    margin: 2vw;
    border: #6db6ff 4px solid;
    border-radius: 3vw;
    text-align: center;
}

