<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"  />
    <script th:src="@{/js/common.js}"></script>
</head>
<body>
    <form th:method="POST" id="login" th:action="login">
        <div class="username-c">
            <span class="title">用户名:</span>
            <input id="username_id" name="username" type="text">
        </div>
        <div class="password-c">
            <span  class="title">密码:</span>
            <input id="password_id" name="password" type="text">
        </div>
        <div class="send_id">
            <input type="submit" value="提交">
        </div>
    </form>
</body>
</html>