<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"  />
    <script th:src="@{/js/common.js}"></script>
</head>
<body>
    <div class="top-nav">
        顶部
    </div>
    <div class="main-nav">
        内容
    </div>
    <div class="bottom-nav">
        <div class="tap-1">标签1</div>
        <div class="tap-2">标签2</div>
        <div class="tap-3">标签3</div>
        <div class="tap-4">标签4</div>
    </div>
</body>
</html>