<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        input[type='radio']{
            display: inline-block;

        }
    </style>
</head>
<body>
    <form name="form" th:action="@{/before/userregister}" method="post">
        <input type="text" name="username">
        <input type="text" name="password">
        <input type="radio" name="roles" value="USER">普通用户
        <input type="radio" name="roles" value="ADMIN">管理员
        <input type="submit" id="login" value="Login">
    </form>
</body>
</html>