.pop-up {
    display: block;
    position: fixed;
    min-width: 75%;
    left: 17%;
    border: 1px solid #42a5f5;
    top: 26%;
    /* min-height: 151rem; */
    background: #f5f5f5;
}

.left-select {
    width: 20%;
}

.left-select .item-select {
    display: inline-block;
    width: 100%;
}
.pop-up{
    display: none;
}
.pop-form{
    position: fixed;
    background: #fff;
    margin: 60px 0 0 240px;
    width: 86%;
    height: 80%;
    top: 100vh;
}