<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/commonHead :: common_header(~{::title},~{::link})">
    <title>Blog Content</title>
</head>


<body class="darklayout">

<div class="wrapper-pro">




    <!-- Header top area start-->
    <div class="content-inner-all">
        <!-- Breadcome End-->
        <!-- Static Table Start -->
        <div class="data-table-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sparkline13-list shadow-reset">

                            <div class="sparkline13-graph">
                                <div class="datatable-dashv1-list custom-datatable-overright">
                                    <table id="table" data-toggle="table" data-pagination="true" data-search="true"
                                           data-show-columns="true" data-show-pagination-switch="true"
                                           data-show-refresh="true" data-key-events="true" data-show-toggle="true"
                                           data-resizable="true" data-cookie="true" data-cookie-id-table="saveId"
                                           data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar" >
                                        <thead>
                                        <tr>
                                            <th data-field="state" data-checkbox="true"></th>
                                            <th data-field="contentTitle" data-editable="true">标题</th>
                                            <th data-field="createDate">创建时间</th>
                                            <th data-field="action">Action</th>
                                        </tr>

                                        </thead>
                                        <tbody>
                                        <tr th:each="data:${datalist}">
                                            <td></td>
                                            <td th:text="${data.contentTitle}"></td>
                                            <td th:text="${data.createDate}"></td>
                                            <td class="datatable-ct">
                                                <button type="button" class="btn btn-primary"
                                                        th:onclick="window.open('/content/get/'+'[(${data.id})]')">编辑
                                                </button>
                                                <button type="button" class="btn btn-primary">删除</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Static Table End -->
    </div>
</div>

</body>

</html>
